@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}